@use '../component/Player/Player.scss';
@use  '../component/Team/Team.scss';
// @use '../component/Header/Header.scss';
@use '../styles/globals.css';
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
body{
    margin:0;
}
.title{
    // background: rgb(52,72,134);
    // background: linear-gradient(117deg, rgba(52,72,134,1) 0%, rgba(228,228,237,1) 51%, rgba(215,89,94,1) 100%);
    // width: 20%;
    // margin: auto;
    // border-radius: 10px;
    // opacity: 90%;
    // display: flex;
    // align-items: center;
    // text-align: center;

}

.title-logo{
    display: flex;
}
.nbaTeamTitle{
    align-items: center;
    border-radius: 10%;
    background: linear-gradient(117deg, #344886 0%, #e4e4ed 51%, #d7595e 100%);
    // color: #006bb7;
    color: rgb(52,72,134);
    display: flex;
    font-family: "Quintessential", cursive;
    justify-content: center;
    left: 500px;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 120px;
    text-align: center;
}
.header{
   
    // background: linear-gradient(117deg, #344886 0%, #e4e4ed 51%, #d7595e 100%);
    background: #07111b;
    // background: #464c6b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 40px;
    p{
        margin: 15px;
        color: white;
    }
    
    .bar2{
        background: black;
        width: 46.9%;
        display: flex;
        margin: auto;
        height: 40px;
        margin-left: 300px;
        position: absolute;
        top: 260px;
        animation: expandBox 3s ease-in-out;
        @keyframes expandBox{
            0% {
              transform: scale(0);
            }
            100% {
              transform: scale(4);
            }
          }
    }
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-btn{
    border: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 41px;
    width: 300px;
    background: black;
    color: white;
    cursor: pointer;
    &:hover{
        background: #43568f;
    }
}
.back-btn2{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 442px;
    height: 41px;
    width: 300px;
    background: black;
    border: none;
    color:white;
    cursor: pointer;
    &:hover{
        background: #d86066;
    }
}
.nba-Logo{
    height: 100px;
    left: 45%;
    border-radius: 14%;
    padding: 14px;
}
.lebronJames{
    position: relative;
    right: 220px;
    bottom: -40px;
    animation: fadeInRight 10s ease-out;
    // opacity: 0;
    z-index: 0;
}

.groupPlayers{
    width: 300px;
    height: 300px;
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/4d5eff110067671.5fe2dc3dd50e1.jpg');
    background-size: cover;
}
.groupPlayers2{
    width: 541px;
    height: 300px;
    background: url('https://imageio.forbes.com/specials-images/imageserve/60105eea27a5e0ffbf1a07e8/0x0.jpg?format=jpg&height=1080&width=1920&fit=crop');
    background-size: cover;
    margin-left: 65.8%;
    position: absolute;
    top: 0px;
}

// .kevinDurant{
//     animation: fadeInRight 10s ease-out;
//     left: -400px;
//     position: relative;
//     top: -500px;
//     opacity: 0;
//     z-index: 0;

// }

// .giannis{
//     width: 650px;
//     height: 650px;
//     position: relative;
//     top: -1200px;
//     left: 650px;
//     animation: fadeInRight 10s ease;
//     opacity: 0;
//     z-index: 0;

// }
// .stephCurry{
//     width: 500px;
//     height: 500px;
//     position: relative;
//     left: 1550px;
//     bottom: 450px;
//     animation: fadeInLeft 10s ease;
//     opacity: 0;
//     z-index: 0;

// }

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    // z-index: 0;
    // position: relative;
    // top: 500px;
    // grid-template-rows: 100px;
    // grid-template-columns: 100px 100px;
    // grid-gap: 620px;
    .gradient-Text{
        background-image: linear-gradient(117deg, #344886 0%, #e4e4ed 51%, #d7595e 100%);;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.6rem;
        // text-shadow:
        //     0.07em 0 linear-gradient(117deg, #344886 0%, #e4e4ed 51%, #d7595e 100%),
        //     0 0.07em linear-gradient(117deg, #344886 0%, #e4e4ed 51%, #d7595e 100%),
        //     -0.07em 0 linear-gradient(117deg, #344886 0%, #e4e4ed 51%, #d7595e 100%),
        //     0 -0.07em linear-gradient(117deg, #344886 0%, #e4e4ed 51%, #d7595e 100%);
    }
}

.slide1{
    background: url("../img/Teams/league.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 250px;
    position: relative;
    overflow: hidden;
    &:hover .team-btn_1{
        animation: slideLeft 0.5s forwards;
    }
}
.team-btn_1{
    // border-radius: 50%;
    // background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu3pkOtF4quqC10ZZgN6VbPMTq1JNXZXEDcw&usqp=CAU");
    height: 250px;
    width: 100%;
    background-color: #42548e;
    font-size: 4.5rem;
    font-weight: 800;
    font-family: 'Updock', cursive;
    position: relative;
    overflow: hidden;
    position: absolute;
    left: -800px;
    color: black;
    opacity: 90%;
    letter-spacing: 10px;
}

@keyframes slideLeft {
    100%{
        left: 0;
    }
}
@keyframes slideRight {
    100%{
        right: 0;
    }
}
.slide2{
    background: url("https://prosportsoutlook.com/wp-content/uploads/2021/10/NBA-75-Greatest.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 250px;
    position: relative;
    overflow: hidden;
    &:hover .team-btn_2{
        animation: slideRight 0.5s forwards;
    }
}
.team-btn_2{
    height: 250px;
    width: 100%;
    background-color: #d8646a;
    font-size: 4.5rem;
    font-weight: 800;
    font-family: 'Updock', cursive;
    position: relative;
    overflow: hidden;
    position: absolute;
    right: -800px;
    color: black;
    opacity: 90%;
    letter-spacing: 10px;
   
}

// .team-btn_1:hover, .team-btn_2:hover{
//     animation: bounce-5 5s infinite;

// }

// @keyframes  bounce-5{
//     0%   { transform: scale(1,1)    translateY(0); }
//         10%  { transform: scale(1.1,.9) translateY(0); }
//         30%  { transform: scale(.9,1.1) translateY(-100px); }
//         50%  { transform: scale(1,1)    translateY(0); }
//         57%  { transform: scale(1,1)    translateY(-7px); }
//         64%  { transform: scale(1,1)    translateY(0); }
//         100% { transform: scale(1,1)    translateY(0); }
// }

@keyframes fadeInLeft {
    0% {
       opacity: 1;
       transform: translateX(-90px);
    }
    90% {
       opacity: 0;
       transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
     }
}

@keyframes fadeInRight {
    0% {
       opacity: 1;
       transform: translateX(90px);
    }
    90% {
       opacity: 0;
       transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
     }
}